body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button,
a {
  margin: 5px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}
.center {
  display: flex !important;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-around;
  align-items: center;
}
.dropdown i {
  padding: 0 5px;
}
.mb-50 {
  margin-bottom: 50px;
}
.form-container {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.reg-log-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.reg-log-form button {
  margin-top: 10px;
}
.reg-log-form label {
  text-align: left;
  padding: 10px 0px;
}
.post-card {
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 auto;
  padding: 5px 15px;
  margin-bottom: 20px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 720px;
  background-color: rgb(174, 255, 255);
}
.comment-card {
  border: 1px solid grey;
  border-radius: 15px;
  padding: 4px 12px;
  width: 100%;
  background-color: rgb(255, 215, 235);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: 7vh;
  font-size: 0.9rem;
  margin-top: 20px;
}
.preview-card {
  background-color: rgb(243, 170, 170);
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  margin: 0 auto 10px auto;
}
.padding {
  padding: 5px;
}
